
  <h1 (click)="onClick()">test {{abso}}</h1>
  <!-- <ion-content *ngIf="main!=null">
    <h1 (click)="change(null)">this is working and this is {{main.userName}}</h1>
  </ion-content>
  <ion-content *ngIf="main==null">
      <ion-card *ngFor="let post of data" (click)="change(post)">
        <ion-item>
          <ion-avatar slot="start">
            <img src={{post.userAvatar}}>
          </ion-avatar>
          <ion-card-title>{{post.userName}}</ion-card-title>
          <ion-card-subtitle slot="end">{{post.postDate}}</ion-card-subtitle>
        </ion-item>
        <ion-card-content >
          <img src={{post.postUrl}}>
          <h2 class="texto">{{post.postText}}</h2>
        </ion-card-content>
        <ion-item>
          <ion-icon name="thumbs-up"></ion-icon>
          <ion-label> {{post.postLike}} Like this post</ion-label>
        </ion-item>
      </ion-card>
  </ion-content> -->
  